@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;400&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #f15a23dc;
  color: #333333;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 20px;
}

.container {
  position: relative;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3), 0 10px 10px rgba(0, 0, 0, 0.3);
  padding: 50px 20px;
  text-align: center;
  max-width: 100%;
  width: 800px;
}

img {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
}

h1 {
  margin: 0;
  opacity: 0.9;
  letter-spacing: 2px;
}

.joke {
  font-size: 30px;
  letter-spacing: 1px;
  line-height: 40px;
  margin: 50px auto;
  max-width: 600px;
}

.btn {
  background-color: #ee4609;
  color: #ffffff;
  border-radius: 10px;
  border: 0;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  padding: 1.5rem 3rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: none;
}
