* {
  box-sizing: border-box;
}

body {
  background-color: steelblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.empty {
  height: 150px;
  width: 150px;
  margin: 10px;
  border: solid 3px #000000;
  background: #ffffff;
}

.fill {
  background: url('https://source.unsplash.com/random/150x150') center center;
  height: 145px;
  width: 145px;
  cursor: pointer;
}

.hold {
  border: solid 5px #cccccc;
}

.hovered {
  background-color: #333333;
  border-color: #ffffff;
  border-style: dashed;
}

@media (min-width: 801px) {
  body {
    flex-direction: row;
  }
}
